{
  "presets": [
    ["es2015", {"modules": false}], 
    "react", 
    "flow"
  ],
  "plugins": [
    "transform-runtime",
    "transform-regenerator",
    "transform-object-rest-spread",
    "transform-class-properties",
    "transform-export-extensions"
  ],
  "env": {
    "development": {
      "plugins": [
        "react-hot-loader/babel",
        "transform-runtime",
        "transform-regenerator",
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-export-extensions"
      ]
    }
  }
}