{
  "parser"  : "babel-eslint",
  "extends" : [
    "standard",
    "plugin:react/recommended"
  ],
  "plugins" : [
    "react"
  ],
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "Action"       : false,
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__DEBUG_NEW_WINDOW__" : false,
    "__BASENAME__" : false,
    "React"        : false,
  },
  "rules": {
    "semi" : [2, "always"],
    "comma-dangle": [1, "always-multiline"],
    "max-len": [2, 120, 2]
  }
}
