.SingleChoice {
  &__text {

  }

  &__choices {
    display: table;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
  }

  &__choice {
    display: table-row;
    padding: .25em 0;

    > input,
    > label {
      display: table-cell;
    }
    > input {
      min-width: 2em;
      vertical-align: middle;
      text-align: center;
    }
    > label {
      padding: .25em 0;
      vertical-align: top;
      text-align: left; // for legacy browsers
      text-align: initial;
      text-rendering: optimizeLegibility;
    }
  }
}